<nav class="navbar navbar-inverse" role="navigation">
  <div class="navbar-header">
    <!-- Brand and toggle get grouped for better mobile display -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" style="color: red;align-content: center">
      <font size=50>Angular with SideBar</font>
    </a>
  </div>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="nav navbar-nav navbar-left" role="tablist">
      <li routerLinkActive="active">
        <a routerLink="link1">Link 1
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="link2">Link 2
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
  </div>
  <!-- /.navbar-collapse -->
</nav>

<div class="ui-g">
  <div class="ui-g-12">
    <button (click)="toggleSidebar(!opened)">Toggle</button>
  </div>
  <div class="ui-g-{{sideBarColumnSpan}}" style="border-style: solid; height: 500px" [hidden]="!opened">
    <router-outlet name="sideBar"></router-outlet>
  </div>
  <div class="ui-g-{{contentColumnSpan}}" style="border-style: solid;  height: 500px">
    <router-outlet></router-outlet>
  </div>
</div>
